.banner__imagem{
/* esse cálculo serve para desconsiderar o tamanho do cabeçalho,
para quando rolar a imagem atrás do "reaproveite melhor os alimentos"
não tenha que rolar demais para aparecer os escritos debaixo*/
   width: 100%;
}

@media screen and (min-width: 0) {
    .banner__imagem{
        height: calc(100vh-51px);
    }
}

@media screen and (min-width: 768px) {
    .banner__imagem{
        height: calc(100vh - 72px);
    }
}